.box_whatsapp,
.box_whatsappResponsivo {
    position: fixed;
    padding: 15px 10px;
    background-color: #ffc200;
    right: 0;
    top: 50%;
    z-index: 99999;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.box_whatsapp .text-title,
.box_whatsappResponsivo .text-title {
    color: #666666;
    font-weight: 600;
    font-size: 18px
}

.box_whatsapp .icone,
.box_whatsappResponsivo .icone {
    color: #666666;
    font-size: 45px
}

.box_whatsapp:hover,
.box_whatsappResponsivo:hover {
    background-color: #666666
}

.box_whatsapp:hover .text-title,
.box_whatsappResponsivo:hover .text-title {
    color: #ffc200
}

.box_whatsapp:hover .icone,
.box_whatsappResponsivo:hover .icone {
    color: #ffc200
}

.box_whatsappResponsivo {
    padding: 5px 10px
}

.box_whatsappResponsivo .icone {
    font-size: 25px
}